/* src/pages/Login.css */
.container {
  min-height: 100vh;
  background-color: #F4F6FF; /* Primary background color */
}

.card {
  border-color: #10375C;
}

.card-title {
  color: #10375C; /* Dark text color */
}

.form-label {
  color: #10375C; /* Label text color */
}

.btn-custom {
  background-color: #F3C623; /* Secondary button color */
  border-color: #F3C623;
}

.btn-custom:hover {
  background-color: #EB8317; /* Button hover state */
  border-color: #EB8317;
}

.alert-custom {
  background-color: #EB8317;
  color: #fff;
  border-color: #EB8317;
}
